<a href="https://colab.research.google.com/github/kasidhitdan/Basic-python/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary

In [17]:
# Creating a dictionary
my_dict = {"name": "Dan", "age": 25, "city": "Bangkok"}
print("Dictionary:", my_dict)

Dictionary: {'name': 'Dan', 'age': 25, 'city': 'Bangkok'}

In [18]:
# Select by key
print("Name:", my_dict["name"])   # Output: Dan
print("Age:", my_dict["age"])     # Output: 25

# Using get()
print("City:", my_dict.get("city"))   # Output: Bangkok

Name: Dan
Age: 25
City: Bangkok

In [19]:
# Modifying
my_dict["age"] = 26
print("Modified :", my_dict)   # Output: {'name': 'Dan', 'age': 26, 'city': 'Bangkok'}

# Adding new elements
my_dict["gender"] = "male"
print("Adding gender:", my_dict)   # Output: {'name': 'Alice', 'age': 26, 'city': 'Bangkok', 'gender': 'male'}

my_dict.update({"pet": "dog"})
print("update :", my_dict)

Modified : {'name': 'Dan', 'age': 26, 'city': 'Bangkok'}
Adding gender: {'name': 'Dan', 'age': 26, 'city': 'Bangkok', 'gender': 'male'}
update : {'name': 'Dan', 'age': 26, 'city': 'Bangkok', 'gender': 'male', 'pet': 'dog'}

In [20]:
# Removing
removed_value = my_dict.pop("age")
print("Removed value:", removed_value)   # Output: 26
print("After removing age:", my_dict)     # Output: {'name': 'Dan', 'city': 'Bangkok', 'gender': 'male', 'pet': 'dog'}

# del
del my_dict["pet"]
print(my_dict) # Output: {'name': 'Dan', 'city': 'Bangkok', 'gender': 'male'}

# Clear dictionary
my_dict.clear()
print("After clearing:", my_dict)   # Output: {}

Removed value: 26
After removing age: {'name': 'Dan', 'city': 'Bangkok', 'gender': 'male', 'pet': 'dog'}
{'name': 'Dan', 'city': 'Bangkok', 'gender': 'male'}
After clearing: {}

In [21]:
# Looping through keys
my_dict = {"name": "Dan", "age": 25, "city": "Bangkok"}
for key in my_dict:
    print("Key:", key)

# Looping through values
for value in my_dict.values():
    print("Value:", value)

# Looping through key-value pairs
for key, value in my_dict.items():
    print("Key:", key, ", Value:", value)

#Key: name
#Key: age
#Key: city
#Value: Dan
#Value: 25
#Value: Bangkok
#Key: name , Value: Dan
#Key: age , Value: 25
#Key: city , Value: Bangkok

Key: name
Key: age
Key: city
Value: Dan
Value: 25
Value: Bangkok
Key: name , Value: Dan
Key: age , Value: 25
Key: city , Value: Bangkok