<a href="https://colab.research.google.com/github/kasidhitdan/Basic-python/blob/main/For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For loop

In [3]:
# range() function
for i in range(1,5):
    print(i)
# 1
# 2
# 3
# 4

1
2
3
4

In [4]:
# Looping through a list
pets = ["dog", "cat", "bird"]
for pet in pets:
    print(pet)
#dog
#cat
#bird

dog
cat
bird

In [5]:
# Looping through a string
for char in "Data":
    print(char)
# D
# a
# t
# a

D
a
t
a

In [6]:
values = [10,20,30,40]

# sum all value using for loop
sum_value = 0
for value in values:
    sum_value = sum_value + value
print(sum_value) # 100

100

In [10]:
# Looping over a dictionary
person = {"name": "Dan", "age": 25, "city": "Bangkok"}
for key, value in person.items():
    print(f"{key}: {value}")
#name: Dan
#age: 25
#city: Bangkok

name: Dan
age: 25
city: Bangkok

In [11]:
# Using enumerate to get index and value
pets = ["dog", "cat", "bird"]
for index, pet in enumerate(pets):
    print(f"Index: {index}, Pet: {pet}")

#Index: 0, Pet: dog
#Index: 1, Pet: cat
#Index: 2, Pet: bird

Index: 0, Pet: dog
Index: 1, Pet: cat
Index: 2, Pet: bird

In [12]:
# while loop
num=0
while num<=5:
    print(num)
    num=num+1
# 0
# 1
# 2
# 3
# 4
# 5

0
1
2
3
4
5

In [17]:
# Using zip
fruits = ["apple", "banana", "grape"]
prices = [15, 9 , 20]
for fruit, price in zip(fruits, prices):
    print(f"{fruit}: {price} ฿")

#apple: 15 ฿
#banana: 9 ฿
#grape: 20 ฿

apple: 15 ฿
banana: 9 ฿
grape: 20 ฿