<a href="https://colab.research.google.com/github/kasidhitdan/Basic-python/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

In [7]:
# Creating a list
num_list = [1, 2, 3, 4, 5]
print(num_list)

[1, 2, 3, 4, 5]

# Index List

In [8]:
# index of list
print("First :", num_list[0])   # Output: 1
print("Last :", num_list[-1])   # Output: 5

# list slicing
print("First three :", num_list[:3])   # Output: [1, 2, 3]
print("Last two :", num_list[-2:])     # Output: [4, 5]

First : 1
Last : 5
First three : [1, 2, 3]
Last two : [4, 5]

# Modifying Lists

In [9]:
# Changing an element
num_list[0] = 99
print("Modified list:", num_list)   # Output: [99, 2, 3, 4, 5]

# Adding elements
num_list.append(6)
print("Appending:", num_list)   # Output: [99, 2, 3, 4, 5, 6]

# Inserting elements
num_list.insert(1, 15)
print("Inserting:", num_list)   # Output: [99, 15, 2, 3, 4, 5, 6]

# Extending a list
num_list.extend([7, 8, 9])
print("Extending:", num_list)   # Output: [99, 15, 2, 3, 4, 5, 6, 7, 8, 9]

Modified list: [99, 2, 3, 4, 5]
Appending: [99, 2, 3, 4, 5, 6]
Inserting: [99, 15, 2, 3, 4, 5, 6]
Extending: [99, 15, 2, 3, 4, 5, 6, 7, 8, 9]

# Removing

In [10]:
# Removing by value
num_list.remove(15)
print("After removing 15:", num_list)   # Output: [99, 2, 3, 4, 5, 6, 7, 8, 9]

# Removing by index
removed_element = num_list.pop(0)
print("After popping :", num_list)   # Output: [2, 3, 4, 5, 6, 7, 8, 9]
print("Popped :", removed_element)        # Output: 99

# Clearing the list
num_list.clear()
print("Clear:", num_list)   # Output: []

After removing 15: [99, 2, 3, 4, 5, 6, 7, 8, 9]
After popping : [2, 3, 4, 5, 6, 7, 8, 9]
Popped : 99
Clear: []

# List Operations

In [11]:
# Re-creating the list for operations
num_list = [1, 2, 3, 4, 5]

# Finding the length of the list
print("Length:", len(num_list))   # Output: 5

# Finding the maximum and minimum elements
print("Maximum :", max(num_list))   # Output: 5
print("Minimum :", min(num_list))   # Output: 1

# Summing elements
print("Sum :", sum(num_list))   # Output: 15

# Counting occurrences of an element
print("Count of 3:", num_list.count(3))   # Output: 1

# Finding the index of an element
print("Index of 4:", num_list.index(4))   # Output: 3

Length: 5
Maximum : 5
Minimum : 1
Sum : 15
Count of 3: 1
Index of 4: 3

# List Comprehensions

In [12]:
# Creating a list using a comprehension
squares = [x**2 for x in range(5)]
print("Squares:", squares)   # Output: [0, 1, 4, 9, 16]

# Using conditionals in comprehensions
evens = [x for x in range(5) if x % 2 == 0]
print("Even numbers:", evens)   # Output: [0, 2, 4]

Squares: [0, 1, 4, 9, 16]
Even numbers: [0, 2, 4]

# Nested Lists

In [17]:
# Creating a nested list (list of lists)
nested_list = [[1, 2], [3, 4], [5, 6]]
print("Nested list:", nested_list)

# Accessing elements in a nested list
print("First element :", nested_list[0][0])   # Output: 1

# Iterating through a nested list
for sub_list in nested_list:
    for num in sub_list:
        print(num, end=" ")
# Output: 1 2 3 4 5 6

Nested list: [[1, 2], [3, 4], [5, 6]]
First element : 1
1 2 3 4 5 6

# Sorting and Reversing Lists

In [20]:
# Sorting a list
num_list = [5, 1, 2, 10, 15, 29, 32, 126, 4, 13, 5]
num_list.sort()
print("Sorted:", num_list)   # Output: [1, 2, 4, 5, 5, 10, 13, 15, 29, 32, 126]

# Sorting in descending order
num_list.sort(reverse=True)
print("Descending order:", num_list)   # Output: [126, 32, 29, 15, 13, 10, 5, 5, 4, 2, 1]

# Reversing a list
num_list.reverse()
print("Reversed list:", num_list)   # Output: [1, 2, 4, 5, 5, 10, 13, 15, 29, 32, 126]

Sorted: [1, 2, 4, 5, 5, 10, 13, 15, 29, 32, 126]
Descending order: [126, 32, 29, 15, 13, 10, 5, 5, 4, 2, 1]
Reversed list: [1, 2, 4, 5, 5, 10, 13, 15, 29, 32, 126]

# Copy

In [21]:
# Copying a list using slicing
num_list = [1, 2, 3, 4, 5]
copy_list = num_list[:]
print("Original list :", num_list)
print("Copied list :", copy_list)

# Copying a list using the list() function
copy_list2 = list(num_list)
print("list() :", copy_list2)

# Copying a list using the copy() method
copy_list3 = num_list.copy()
print("copy() :", copy_list3)

Original list : [1, 2, 3, 4, 5]
Copied list : [1, 2, 3, 4, 5]
list() : [1, 2, 3, 4, 5]
copy() : [1, 2, 3, 4, 5]