<a href="https://colab.research.google.com/github/kasidhitdan/Basic-python/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable

In [ ]:
# Assigning integer value 9 to variable 'number_1'
number_1 = 9
# Assigning integer value 3 to variable 'number_2'
number_2 = 3

# Adding number_1 and number_2, and printing the result
print("plus =", number_1 + number_2)

# Subtracting number_2 from number_1, and printing the result
print("minus =", number_1 - number_2)

# Multiplying number_1 by number_2, and printing the result
print("multiply =", number_1 * number_2)

# Dividing number_1 by number_2, and printing the result
print("divide =", number_1 / number_2)

# Raising number_1 to the power of number_2 (number_1 ** number_2), and printing the result
print("squared =", number_1 ** number_2)

# Performing modulo operation to find the remainder when number_1 is divided by number_2, and printing the result
print("modulo =", number_1 % number_2)

# Performing floor division to find the quotient when number_1 is divided by number_2 without the remainder, and printing the result
print("floor division =", number_1 // number_2)

plus = 12
minus = 6
multiply = 27
divide = 3.0
squared = 729
modulo = 0
floor division = 3

In [ ]:
# Checking if number_1 is greater than number_2 and printing the result
print("9 > 3 :",number_1 > number_2)  # True because 9 is greater than 3

# Checking if number_1 is less than number_2 and printing the result
print("9 < 3 :",number_1 < number_2)  # False because 9 is not less than 3

# Checking if number_1 is greater than or equal to number_2 and printing the result
print("9 >= 3 :",number_1 >= number_2)  # True because 9 is greater than 3

# Checking if number_1 is less than or equal to number_2 and printing the result
print("9 <= 3 :",number_1 <= number_2)  # False because 9 is not less than or equal to 3

# Checking if number_1 is equal to number_2 and printing the result
print("9 == 3 :",number_1 == number_2)  # False because 9 is not equal to 3

# Checking if number_1 is not equal to number_2 and printing the result
print("9 != 3 :",number_1 != number_2)  # True because 9 is not equal to 3

9 > 3 : True
9 < 3 : False
9 >= 3 : True
9 <= 3 : False
9 == 3 : False
9 != 3 : True

# Data type

In [ ]:
# Assigning an integer value to variable 'a'
a = 9
# Printing the type of variable 'a', which is 'int'
print("type of a:", type(a))

# Assigning a floating-point value to variable 'b'
b = 3.0
# Printing the type of variable 'b', which is 'float'
print("type of b:", type(b))

# Assigning a string value to variable 'c'
c = "hello world"
# Printing the type of variable 'c', which is 'str'
print("type of c:", type(c))

# Assigning a boolean value to variable 'd'
d = False
# Printing the type of variable 'd', which is 'bool'
print("type of d:", type(d))

type of a: <class 'int'>
type of b: <class 'float'>
type of c: <class 'str'>
type of d: <class 'bool'>

In [ ]:
# Converting a floating-point number to an integer
# This will truncate the decimal part and print 4
print(int(4.5))

# Converting an integer to a floating-point number
# This will print 4.0
print(float(4))

# Converting a string that represents a number to a floating-point number
# This will print 4.0
print(float("4"))

4
4.0
4.0